# Cleaning the Data

In [2]:
import pandas as pd

In [3]:
# Load the dataset
file_path = r"C:\Users\info\Desktop\project3team11\Resources\U.S._Chronic_Disease_Indicators.csv"
data = pd.read_csv(file_path)

In [4]:
data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,TopicID,QuestionID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2019,2019,AR,Arkansas,BRFSS,Diabetes,Diabetes among adults,NaN,%,Crude Prevalence,...,DIA,DIA01,NaN,CRDPREV,SEX,SEXM,NaN,NaN,NaN,NaN
1,2019,2019,ID,Idaho,BRFSS,Diabetes,Diabetes among adults,NaN,%,Crude Prevalence,...,DIA,DIA01,NaN,CRDPREV,SEX,SEXM,NaN,NaN,NaN,NaN
2,2019,2019,IN,Indiana,YRBSS,Sleep,Short sleep duration among high school students,NaN,%,Crude Prevalence,...,SLEP,SLP02,NaN,CRDPREV,GRADE,GRD12,NaN,NaN,NaN,NaN
3,2019,2019,IA,Iowa,NVSS,Asthma,"Asthma mortality among all people, underlying ...",NaN,Number,Number,...,AST,AST01,NaN,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2019,2019,IA,Iowa,BRFSS,Asthma,Current asthma among adults,NaN,%,Crude Prevalence,...,AST,AST02,NaN,CRDPREV,AGE,AGE1844,NaN,NaN,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309215 entries, 0 to 309214
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   YearStart                  309215 non-null  int64
 1   YearEnd                    309215 non-null  int64
 2   LocationAbbr               309215 non-null  object
 3   LocationDesc               309215 non-null  object
 4   DataSource                 309215 non-null  object
 5   Topic                      309215 non-null  object
 6   Question                   309215 non-null  object
 7   Response                   0 non-null       float64
 8   DataValueUnit              309215 non-null  object
 9   DataValueType              309215 non-null  object
 10  DataValue                  209196 non-null  float64
 11  DataValueAlt               209196 non-null  float64
 12  DataValueFootnoteSymbol    101716 non-null  object
 13  DataValueFootnote          101716 non-null  object
 14  LowConfidenceLimit         188885 non-null  float64
 15  HighConfidenceLimit        188890 non-null  float64
 16  StratificationCategory1    309215 non-null  object
 17  Stratification1            309215 non-null  object
 18  StratificationCategory2    0 non-null       float64
 19  Stratification2            0 non-null       float64
 20  StratificationCategory3    0 non-null       float64
 21  Stratification3            0 non-null       float64
 22  Geolocation                303452 non-null  object
 23  LocationID                 309215 non-null  int64
 24  TopicID                    309215 non-null  object
 25  QuestionID                 309215 non-null  object
 26  ResponseID                 0 non-null       float64
 27  DataValueTypeID            309215 non-null  object
 28  StratificationCategoryID1  309215 non-null  object
 29  StratificationID1          309215 non-null  object
 30  StratificationCategoryID2  0 non-null       float64
 31  StratificationID2          0 non-null       float64
 32  StratificationCategoryID3  0 non-null       float64
 33  StratificationID3          0 non-null       float64
dtypes: float64(14), int64(3), object(17)
memory usage: 80.2+ MB

In [6]:
# Drop columns with 0 non-null values
# Drop only the columns that exist in the dataset
columns_to_drop = [
    'Response', 'StratificationCategory2', 'Stratification2', 'StratificationCategory3', 'Stratification3', 
    'ResponseID', 'StratificationCategoryID2', 'StratificationID2','StratificationCategoryID3', 
    'StratificationID3', 'YearStart', 
    'DataValueFootnoteSymbol', 'DataValueFootnote', 'StratificationID1', 'StratificationCategoryID1'
    
]

# Filter columns_to_drop to include only existing columns
columns_to_drop = [col for col in columns_to_drop if col in data.columns]

# Drop the filtered list of columns
data.drop(columns=columns_to_drop, inplace=True)

print("Dropped unnecessary columns successfully!")

Dropped unnecessary columns successfully!

In [7]:
# Fill missing 'Geolocation' with 'Unknown'
data['Geolocation'].fillna('Unknown', inplace=True)

C:\Users\info\AppData\Local\Temp\ipykernel_20964\2711780504.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Geolocation'].fillna('Unknown', inplace=True)

In [8]:
# Extract longitude and latitude into separate columns
data[['Longitude', 'Latitude']] = data['Geolocation'].str.extract(r'POINT \(([-\d.]+) ([-\d.]+)\)')
#Rename Columns
data.rename(columns={'YearEnd': 'Year'}, inplace=True)
data.rename(columns={'LocationDesc': 'Location'}, inplace=True)
data.rename(columns={'LocationAbbr': 'LocationID'}, inplace=True)
data.rename(columns={'DataValue': 'Value'}, inplace=True)

In [9]:
# Drop duplicate rows
data = data.drop_duplicates()

In [10]:
# List of stratification categories
StratificationCategory1 = ['Sex', 'Age', 'Race/Ethnicity', 'Grade', 'Overall']

# Pivot the data: Create separate columns for each StratificationCategory
for category in StratificationCategory1:
    # Assign values from Stratification1 where StratificationCategory1 matches the current category
    data[category] = data['Stratification1'].where(data['StratificationCategory1'] == category)

# Drop the original columns if no longer needed
data.drop(columns=['StratificationCategory1', 'Stratification1'], inplace=True)

# Fill missing values in the new columns with 'Unknown' (optional)
data[StratificationCategory1] = data[StratificationCategory1].fillna('Unknown')

In [52]:
#Drop 'Overall' Column
data.drop(columns=[ 'Overall','DataValueAlt'], inplace=True)

In [14]:
print(data.columns)

Index(['Year', 'Sex', 'Age', 'Grade', 'Race/Ethnicity', 'DataSource',
       'Location', 'LocationID', 'LocationID', 'Geolocation', 'Longitude',
       'Latitude', 'Topic', 'TopicID', 'Question', 'QuestionID', 'Value',
       'DataValueUnit', 'DataValueType', 'DataValueTypeID',
       'LowConfidenceLimit', 'HighConfidenceLimit'],
      dtype='object')

In [15]:
# Define the new column order
new_column_order = ['Year','Sex', 'Age', 'Grade', 'Race/Ethnicity', 'DataSource',
                    'Location','LocationID','Geolocation', 'Longitude', 'Latitude', 
                    'Topic', 'TopicID', 'Question', 'QuestionID', 'Value', 'DataValueUnit',
                    'DataValueType', 'DataValueTypeID', 'LowConfidenceLimit', 'HighConfidenceLimit' ]
# Reorder the DataFrame
data_reordered = data[new_column_order]

# Columns sorted by data source type
data = data_reordered.sort_values(by=['DataSource'], ascending=[True])
data.reset_index(drop=True, inplace=True)

In [16]:
# Review the final data set
print(data)

        Year      Sex      Age     Grade             Race/Ethnicity  \
0       2019  Unknown  Unknown   Unknown                   Hispanic
1       2021  Unknown  Unknown   Unknown  Multiracial, non-Hispanic
2       2021     Male  Unknown   Unknown                    Unknown
3       2019  Unknown  Unknown   Unknown                    Unknown
4       2019  Unknown  Unknown   Unknown                    Unknown
...      ...      ...      ...       ...                        ...
309210  2021  Unknown  Unknown   Unknown                   Hispanic
309211  2021  Unknown  Unknown   Unknown        Asian, non-Hispanic
309212  2021  Unknown  Unknown  Grade 11                    Unknown
309213  2021  Unknown  Unknown  Grade 10                    Unknown
309214  2019  Unknown  Unknown   Unknown                    Unknown

       DataSource        Location  LocationID  LocationID  \
0             ACS      California          CA           6
1             ACS           Idaho          ID          16
2             ACS      California          CA           6
3             ACS      New Jersey          NJ          34
4             ACS    Rhode Island          RI          44
...           ...             ...         ...         ...
309210      YRBSS   New Hampshire          NH          33
309211      YRBSS        New York          NY          36
309212      YRBSS  North Carolina          NC          37
309213      YRBSS         Montana          MT          30
309214      YRBSS      New Mexico          NM          35

                                          Geolocation  ...  \
0       POINT (-120.99999953799971 37.63864012300047)  ...
1       POINT (-114.3637300419997 43.682630005000476)  ...
2       POINT (-120.99999953799971 37.63864012300047)  ...
3        POINT (-74.27369128799967 40.13057004800049)  ...
4        POINT (-71.52247031399963 41.70828019300046)  ...
...                                               ...  ...
309210   POINT (-71.50036091999965 43.65595011300047)  ...
309211   POINT (-75.54397042699964 42.82700103200045)  ...
309212  POINT (-79.15925046299964 35.466220975000454)  ...
309213  POINT (-109.42442064499971 47.06652897200047)  ...
309214  POINT (-106.24058098499967 34.52088095200048)  ...

                                                  Topic TopicID  \
0                         Social Determinants of Health    SDOH
1                         Social Determinants of Health    SDOH
2                         Social Determinants of Health    SDOH
3                         Social Determinants of Health    SDOH
4                         Social Determinants of Health    SDOH
...                                                 ...     ...
309210                                          Alcohol     ALC
309211  Nutrition, Physical Activity, and Weight Status    NPAW
309212                                          Alcohol     ALC
309213  Nutrition, Physical Activity, and Weight Status    NPAW
309214  Nutrition, Physical Activity, and Weight Status    NPAW

                                                 Question QuestionID Value  \
0          High school completion among adults aged 18-24      SDH02  87.7
1          High school completion among adults aged 18-24      SDH02  76.9
2          High school completion among adults aged 18-24      SDH02  88.5
3       Unemployment rate among people 16 years and ol...      SDH08   4.5
4       No broadband internet subscription among house...      SDH03  12.7
...                                                   ...        ...   ...
309210  Binge drinking prevalence among high school st...      ALC07  13.1
309211  Consumed regular soda at least one time daily ...      NPW05   6.2
309212             Alcohol use among high school students      ALC01  25.3
309213  Consumed vegetables less than one time daily a...      NPW03   6.0
309214  Consumed vegetables less than one time daily a...      NPW03   8.3

       DataValueUnit     DataValueType DataValueTypeID LowConfidenceLimit  \
0                  %  Crude Prevalence         CRDPREV               87.0
1                  %  Crude Prevalence         CRDPREV               65.4
2                  %  Crude Prevalence         CRDPREV               87.8
3                  %  Crude Prevalence         CRDPREV                4.3
4                  %  Crude Prevalence         CRDPREV               11.7
...              ...               ...             ...                ...
309210             %  Crude Prevalence         CRDPREV               11.0
309211             %  Crude Prevalence         CRDPREV                4.0
309212             %  Crude Prevalence         CRDPREV               18.0
309213             %  Crude Prevalence         CRDPREV                4.6
309214             %  Crude Prevalence         CRDPREV                7.2

       HighConfidenceLimit
0                     88.4
1                     85.5
2                     89.1
3                      4.7
4                     13.8
...                    ...
309210                15.6
309211                 9.6
309212                34.3
309213                 7.7
309214                 9.5

[309215 rows x 22 columns]

In [17]:
# Save the dataset as a CSV file
file_path = r'C:\Users\info\Desktop\project3team11\Resources\final2_cleaned_dataset.csv'
data.to_csv(file_path, index=False)